{% extends "base.html" %}
{% load i18n %}

{% block content %}

<h1 class="highlight">{% translate "Select replays" %}</h1>

<form method="post">
    {% csrf_token %}
    {{ form.errors }}
    <input type="hidden"
           name="silentselene_username"
           value="{{ silentselene_username }}"
           class="spaced-input">
    <h2>
        {% translate "Contact info" %}
    </h2>
    <p>
        {% blocktranslate %}
            How should we contact you? Please enter a social media account that belongs to you.
            For example, link your twitter, discord, or bilibili account.
        {% endblocktranslate %}
    </p>
    {{ form.contact_info }}
    <h2>
        {% translate "Select replays" %}
    </h2>
    <table class="replay-table">
        <thead>
            <tr>
              <th>{% translate "Select" %}</th>
              <th>{% translate "Game" %}</th>
              <th>{% translate "Difficulty" %}</th>
              <th>{% translate "Shot" %}</th>
              <th>{% translate "Score" %}</th>
              <th>{% translate "Date" %}</th>
              <th>{% translate "Comment" %}</th>
            </tr>
        </thead>
        {% for replay in replays %}
            <tr>
                <td>
                    <input
                        type="checkbox"
                        value="{{replay.id}}"
                        name="choices"
                        checked
                        {% if is_review and not user.is_staff %}hidden{% endif %}
                    >
                </td>
                <td>{{ replay.shot.game.GetShortName }}</td>
                <td>{{ replay.GetDifficultyName }}</td>
                <td>{{ replay.shot.GetName }}</td>
                <td>{{ replay.score }}</td>
                <td>{{ replay.created | date:"Y-m-d" }}</td>
                <td>{{ replay.comment }}</td>
            </tr>
        {% endfor %}
    </table>
    {% if user.is_staff %}
        <input type="submit" name="submit_action" value="Approve" class="spaced-input">
        {% if is_review %}
            <input type="submit" name="submit_action" value="Delete request" class="spaced-input">
        {% endif %}
    {% else %}
        {% if is_review %}
            <input type="submit" name="submit_action" value="Delete request" class="spaced-input">
        {% else %}
            <input type="submit" name="submit_action" value="Confirm" class="spaced-input">
        {% endif %}
    {% endif %}
</form>

{% endblock %}
