{% extends "simple_centered.html" %}
{% load i18n %}

{% block centered-title %}<p>Claim replays</p>{% endblock %}

{% block centered-content %}
    <a href="my_claims">My claims</a>
    <form method="post">
        {% csrf_token %}
        {% if user.is_staff %}
            <p>Please enter a silentselene username.</p>
            {{ form.silentselene_username }}
            {{ form.silentselene_username.errors }}
        {% else %}
            <input type="hidden"
                   name="silentselene_username"
                   value="{{ silentselene_username }}">
        {% endif %}
        <p>Please enter a royalflare username.</p>
        {{ form.royalflare_username }}
        {{ form.royalflare_username.errors }}
        <div />
        <input type="submit" value="Next" class="spaced-input">
    </form>
{% endblock %}
