{% extends "base.html" %}

{% block content %}
    <h2><a href="/replays/{{game.game_id}}">{{ game.GetName }}</a></h2>
    <!-- {% if difficulty and shot %}<h3>{{ difficulty_name }} — {{ shot.GetName }}</h3>
    {% elif difficulty %}<h3>{{difficulty_name}}</h3>
    {% endif %} -->
    
    <l>
        {% for difficulty_name in difficulties %}
            <li filterType="difficulty" value={{difficulty_name}} onclick="onClick(this)">{{ difficulty_name }}</li>
        {% endfor %}
    </l>

    <br />

    <l>
        {% for shot in shots %}
          <li filterType="shot" value={{shot.shot_id}} onclick="onClick(this)">{{ shot.GetName }}</li>
        {% endfor %}
    </l>

    <br />

    {% include "replays/replay_table.html" %}

    <script>

      var activeFilters = []

      function onClick(elm) {
        const filterType = elm.getAttribute('filterType');
        const value = elm.getAttribute('value');
        updateFilterList(filterType, value)
      }

      function updateFilterList(filterType, value) {
        const indexOfFilterInActiveFiltersList = activeFilters.findIndex(
          f => f["filterType"] == filterType && f["value"] == value
        );
        console.log(indexOfFilterInActiveFiltersList);
        if (indexOfFilterInActiveFiltersList == -1) {
          activeFilters.push({filterType: filterType, value: value});
        }
        else {
          activeFilters.splice(indexOfFilterInActiveFiltersList);
        }
      }
      

    </script>

{% endblock %}
