{% extends "base.html" %}

{% block content %}

<p class="highlight">Welcome to Silent Selene !</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime tenetur cum voluptatum tempore atque optio consequuntur quos, quas, sint, recusandae eligendi odio. Animi consequatur placeat nemo doloremque quas illum id enim aspernatur aliquam soluta, maiores reiciendis! Sed excepturi odio consectetur?</p>
<p class="highlight">Recent uploads</p>
<br>
{% include "replays/replay_table.html" with show_game=True %}

{% endblock %}
