{% extends "base.html" %}

{% block content %}

<h1 class="highlight">Welcome to Silent Selene!</h1>
<p>
    Welcome to Silent Selene, the home of Touhou replays on the Internet. We support uploading replays for almost all Touhou games, so <a href="{% url 'users:register' %}">create an account</a> and show us what you've got! Or <a href="https://news.silentselene.net">check out our blog</a> to find out what's new and what we have planned for the future.
</p>
<h1 class="highlight">Recent uploads</h1>
{% include "replays/replay_table.html" with show_game=True %}

{% endblock %}
