{% extends "base.html" %}
{% load i18n %}

{% block content %}

<h1 class="highlight">{% translate "Welcome to Silent Selene!" %}</h1>
<p>
    {% url 'users:register' as register_url %}
    {% with blog_url="https://news.silentselene.net" %}
    {% blocktranslate %}
    Welcome to Silent Selene, the home of Touhou replays on the Internet. We support uploading replays for almost all Touhou games, so <a href="{{ register_url }}">create an account</a> and show us what you've got! Or <a href="{{ blog_url }}">check out our blog</a> to find out what's new and what we have planned for the future.
    {% endblocktranslate %}
    {% endwith %}
</p>
<h1 class="highlight">{% translate "Recent uploads" %}</h1>
{% include "replays/replay_table.html" with show_game=True %}

{% endblock %}
