{% extends "base.html" %}

{% block content %}
<h1>Finish uploading your replay</h1>
<h2>{{ game_name }}</h2>
<p>
    <table class="replay-header">
        <tbody>
            {% if replay.timestamp %}
            <tr>
                <td>Replay Date</td>
                {% if game_id == "th06" or game_id == "th09" %}
                <td>{{ replay.timestamp|date:"d F Y" }}</td>
                {% elif game_id == "th07" or game_id == "th08" %}
                <td>{{ replay.timestamp|date:"d F" }}</td>
                {% else %}
                <td>{{ replay.timestamp|date:"d F Y, h:i A" }}</td>
                {% endif %}
            </tr>
            {% endif %}
            <tr>
                <td>Difficulty</td>
                <td>{{ difficulty_name }}</td>
            </tr>
            <tr>
                <td>Shot</td>
                <td>{{ shot_name }}</td>
            </tr>
            <tr>
                <td>Replay Type</td>
                <td>{{ replay_type }}</td>
            </tr>
            {% if route_name %}
            <tr>
                <td>Route</td>
                <td>{{ route_name }}</td>
            </tr>
            {% endif %}
            {% if replay.spell_card_id %}
            <tr>
                <td>Spell Card ID</td>
                <td>{{ replay.spell_card_id }}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</p>
<form method="post" class="finish-uploading-form">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <table class="form-table">
        <th style="width: 50%;"></th>
        <tr>
        <td>
            <label for="{{form.name.id_for_label}}">Name</label>
            {{ form.name.errors }}
        </td>
        <td>
            {{ form.name }}
        </td>
        </tr>
        <tr>
        <td>
            <label for="{{form.score.id_for_label}}">Score</label>
            {{ form.score.errors }}
        </td>
        <td>
            {{ form.score }}
        </td>
        </tr>
        <tr>
        <td>
            <label for="{{form.category.id_for_label}}">Category</label>
            {{ form.category.errors }}
        </td>
        <td>
            {{ form.category }}
        </td>
        </tr>
        <tr>
        <td>
            <label for="{{form.video_link.id_for_label}}">Video link</label>
            {{ form.video_link.errors }}
        </td>
        <td>
            {{ form.video_link }}
        </td>
        </tr>
        <tr>
        <td>
            <label for="{{form.is_clear.id_for_label}}">Did it clear?</label>
        </td>
        <td>
            {{ form.is_clear }}
        </td>
        </tr>
    {% if has_replay_file %}
        <tr>
        <td>
            <label for="{{form.is_good.id_for_label}}">No desyncs</label>
            {{ form.is_good.errors }}
        </td>
        <td>
            {{ form.is_good }}
        </td>
        </tr>
    {% endif %}
    </table>
    <div class="comment-input">
        <label for="{{form.comment.id_for_label}}">Comment</label> {{ form.comment.errors }}<br>
        {{ form.comment }}
    </div>
    <input type="submit" value="Publish Replay">
</form>
{% endblock %}
