{% extends "base.html" %}

{% block content %}
<h1>{% translate "Upload a new video replay" %}</h1>
<h2>{{ game.GetName }}</h2>

<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <table class="form-table">
        <th style="width: 50%;"></th>
        <tr>
        <td>
            <label for="{{form.difficulty.id_for_label}}">{% translate "Difficulty" %}</label>
            {{ form.difficulty.errors }}
        </td>
        <td>
            {{ form.difficulty }}
        </td>
        </tr>
        <tr>
        <td>
            <label for="{{form.shot.id_for_label}}">{% translate "Shot" %}</label>
            {{ form.shot.errors }}
        </td>
        <td>
            {{ form.shot }}
        </td>
        </tr>
        {% if form.route %}
        <tr>
        <td>
            <label for="{{form.score.id_for_label}}">{% translate "Route" %}</label>
            {{ form.route.errors }}
        </td>
        <td>
            {{ form.route }}
        </td>
        </tr>
        {% endif %}
        <tr>
        <td>
            <label for="{{form.score.id_for_label}}">{% translate "Score" %}</label>
            {{ form.score.errors }}
        </td>
        <td>
            {{ form.score }}
        </td>
        </tr>
        <tr>
        <td>
            <label for="{{form.category.id_for_label}}">{% translate "Category" %}</label>
            {{ form.category.errors }}
        </td>
        <td>
            {{ form.category }}
        </td>
        </tr>
        <tr>
            <td>
                <label for="{{form.replay_type.id_for_label}}">{% translate "Replay Type" %}</label>
                {{ form.replay_type.errors }}
            </td>
            <td>
                {{ form.replay_type }}
            </td>
            </tr>
        <tr>
        <td>
            <label for="{{form.video_link.id_for_label}}">{% translate "Video link" %}</label>
            {{ form.video_link.errors }}
        </td>
        <td>
            {{ form.video_link }}
        </td>
        </tr>
        <tr>
            <td>
                <label for="{{form.is_clear.id_for_label}}">{% translate "Did it clear?" %}</label>
            </td>
            <td>
                {{ form.is_clear }}
            </td>
        </tr>
    {% if has_replay_file %}
        <tr>
        <td>
            <label for="{{form.is_good.id_for_label}}">{% translate "No desyncs" %}</label>
            {{ form.is_good.errors }}
        </td>
        <td>
            {{ form.is_good }}
        </td>
        </tr>
    {% endif %}
    {% if form.uses_bombs %}
        <tr>
            <td>
                <label for="{{form.uses_bombs.id_for_label}}">{% translate "Did you use bombs?" %}</label>
                {{ form.uses_bombs.errors }}
            </td>
            <td>
                {{ form.uses_bombs }}
            </td>
        </tr>
    {% endif %}
    {% if form.misses %}
        <tr>
            <td>
                <label for="{{form.misses.id_for_label}}">{% translate "Miss count (optional)" %}</label>
                {{ form.misses.errors }}
            </td>
            <td>
                {{ form.misses }}
            </td>
        </tr>
    {% endif %}
    </table>
    <div class="comment-input">
        <label for="{{form.comment.id_for_label}}">{% translate "Comment" %}</label> {{ form.comment.errors }}<br>
        {{ form.comment }}
    </div>
    <input type="submit" value={% translate "Publish Replay" %}>
</form>
{% endblock %}
