{% extends "base.html" %}
{% load humanize %}

{% block content %}
    <h2>Replays to reanalyze:</h2>
    <ul>
        {% for replay_info in replays %}
            <li><a href="{{ replay_info.url }}">{{replay_info.name}}</a></li>
        {% empty %}
            <li>None!</li>
        {% endfor %}
    </ul>
    {% if replays %}
    <form method="POST" action="{% url 'Replays/ReanalyzePagePost' current_token next_token %}">
        {% csrf_token %}
        <input type="submit" />
    </form>
    {% endif %}
    {% if more_pages %}
    <p><a href="{% url 'Replays/ReanalyzeBatch' next_token %}">Continue to next page</a></p>
    {% else %}
    <p>No more replays to analyze.</p>
    {% endif %}
{% endblock %}
