{% extends "base.html" %}
{% load humanize %}

{% block content %}
    <h2><a href="/replays/{{ game_id}}">{{ game_name }}</a></h2>
    {% if route_name %}
    <h3>{{ difficulty_name }} ({{ route_name }}) — {{ shot_name }}</h3>
    {% else %}
    <h3>{{ difficulty_name }} — {{ shot_name }}</h3>
    {% endif %}
    <div class="replay-box">
        Total score: <span class="replay-score">{{ replay.score|intcomma }}</span>
    </div>
    {% if replay.is_clear %}
    <p>Clears!</p>
    {% endif %}
    <p>
        {% if has_stages %}
        {% include "replays/replay_stages.html" %}
        {% endif %}
    </p>
    <div>
    {% if has_replay_file %}
    {% if replay_file_is_good %}
        <a href="/replays/{{ game_id }}/{{ replay.id }}/download">Download replay</a>
    {% else %}
        <div>Be aware, this replay desyncs!</div>
        <a href="/replays/{{ game_id }}/{{ replay.id }}/download">Download replay anyway</a>
    {% endif %}
    {% endif %}
    </div>
    {% if replay.video_link %}
    <div>
        <a href="{{replay.video_link}}">Watch replay on external site</a>
    </div>
    {% endif %}
    {% if is_owner %}
    <div>
        <a href="/replays/{{ game_id }}/{{ replay.id }}/delete">Permanently delete this replay</a>
    </div>
    {% endif %}
{% endblock %}
