{% load humanize %}
<table class="replay-table">
    <thead>
        <tr>
            <th>
                User
            </th>
            {% if show_game %}
            <th>
                Game
            </th>
            {% endif %}
            <th>
                Difficulty
            </th>
            <th>
                Shot
            </th>
            {% if show_route %}
            <th>
                Route
            </th>
            {% endif %}
            <th>
                Score
            </th>
            <th>
                Upload Date
            </th>
            <th>
                Comment
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="replay-table-body">
    </tbody>
</table>


<!-- This script is a hack to get variables from python into a js file  -->
<script>
    const showGameColumn = "{{show_game}}";
    const showRouteColumn = "{{show_route}}";
</script>

<script src="/static/js/replays/replayTable.js"></script>
