{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load i18n %}

{% block favicon %}
{% if replay.lesanae %}
<link rel="icon" type="image/png" href="{% static 'favicon_lesanae.png' %}" sizes="48x48">
{% else %}
{{ block.super }}
{% endif %}
{% endblock %}

{% block embed_title %}{{ game_name }}{% if route_name %}, {{ route_name }}{% endif %} – {{ difficulty_name }} ({{ shot_name }}) – {{ replay.score|intcomma }}{% endblock %}
{% block embed_description %}{% if replay.timestamp %}{% with replay_timestamp=replay.GetFormattedTimestampDate %}{% blocktranslate %}Played by {{ player_name }} on {{ replay_timestamp }}{% endblocktranslate %}{% endwith %}{% else %}{% blocktranslate %}Played by {{ player_name }}{% endblocktranslate %}{% endif %}{% endblock %}
{% block content %}
<script src="/static/js/replays/replay_details.js"></script>

<div class="replay-page">
    <div class="replay-heading replay-box avoid-horizontal-join">
        <h2><a href="/replays/{{ game_id}}">{{ game_name }}</a></h2>
        <ul>
            <li>{{ category }}</li>
            <div class="replay-heading-separator"></div>
            <li>{{ replay_type }}</li>
            <div class="replay-heading-separator"></div>
            <li>{{ difficulty_name }}</li>
            <div class="replay-heading-separator"></div>
            <li>{{ shot_name }}</li>
            {% if route_name %}
            <div class="replay-heading-separator"></div>
            <li>{{ route_name }}</li>
            {% endif %}
        </ul>
    </div>

    <div class="replay-box">
        <h3>{% translate "Score" %}</h3>
        <p class="replay-score">
            {{ replay.score|intcomma }}
        </p>
        <p>
            {% if replay.timestamp %}
              {% with replay_timestamp=replay.GetFormattedTimestampDate %}
                {% if owned %}
                  {% with username=replay.user.username %}
                    {% url 'user_page' username as user_url %}
                    {% blocktranslate %}
                        Played by <a href="{{ user_url }}">{{ username }}</a> on {{ replay_timestamp }}
                    {% endblocktranslate %}
                  {% endwith %}
                {% else %}
                  {% blocktranslate with source="RoyalFlare" %}
                    Played by {{ player_name }} ({{ source }}) on {{ replay_timestamp }}
                  {% endblocktranslate %}
                {% endif %}
              {% endwith %}
            {% else %}
              {% if owned %}
                {% with username=replay.user.username %}
                    {% url 'user_page' username as user_url %}
                    {% blocktranslate %}
                        Played by <a href="{{ user_url }}">{{ username }}</a>
                    {% endblocktranslate %}
                {% endwith %}
              {% else %}
                {% blocktranslate with source="RoyalFlare" %}
                    Played by {{ player_name }} ({{ source }})
                {% endblocktranslate %}
              {% endif %}
            {% endif %}
        </p>
        {% if has_replay_file %}
        <p>
            {% if replay_file_is_good %}
            <a href="/replays/{{ game_id }}/{{ replay.id }}/download">{% translate "Download replay" %}</a>
            {% else %}
            <a href="/replays/{{ game_id }}/{{ replay.id }}/download">{% translate "Download replay (desyncs)" %}</a>
            {% endif %}
        </p>
        {% endif %}
    </div>

    <div class="replay-box replay-spiffy-table-parent">
        <h3>{% translate "Badges and Stage Splits" %}</h3>
        <div class="replay-badges">
            {% if replay.no_bomb %}
            <div class="replay-badge">
                <svg fill="currentColor">
                    <title>{% translate "This run did not use bombs" %}</title>
                    <use href="{% static 'icons/bootstrap/icons.svg' %}#slash" />
                    <use href="{% static 'icons/bootstrap/icons.svg' %}#star" />
                </svg>
            </div>
            {% endif %}
            {% if replay.miss_count == 0 %}
            <div class="replay-badge">
                <svg fill="currentColor">
                    <title>{% translate "This run never missed" %}</title>
                    <use href="{% static 'icons/bootstrap/icons.svg' %}#slash" />
                    <use href="{% static 'icons/bootstrap/icons.svg' %}#heart" />
                </svg>
            </div>
            {% endif %}
        </div>

        {% if replay_stages %}
        <table class="replay-spiffy-table">
            {% for stage in replay_stages %}
            <tr>
                {% if table_fields.lives %}
                <td class="replay-lives-column">
                    {% if stage.lives %}
                    {{ stage.lives }}
                    <svg class="inline-icon">
                        <use href="{% static 'icons/bootstrap/icons.svg' %}#heart" />
                    </svg>
                    {% endif %}
                </td>
                {% endif %}
                {% if table_fields.bombs %}
                <td class="replay-bombs-column">
                    {% if stage.bombs %}
                    {{ stage.bombs }}
                    <svg class="inline-icon">
                        <use href="{% static 'icons/bootstrap/icons.svg' %}#star" />
                    </svg>
                    {% endif %}
                </td>
                {% endif %}
                <td class="replay-score-column"> {{ stage.score|intcomma }}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <div class="replay-no-table-message">
            {% blocktranslate %}
            Stage split information is unavailable for this replay.
            {% endblocktranslate %}
        </div>
        {% endif %}
    </div>

    {% if video_embed %}
    <div class="replay-box avoid-horizontal-join">
        <div class="video-wrapper">
            <iframe src="{{video_embed}}" width="100%" height="100%" allowfullscreen frameborder="0"></iframe>
        </div>
        <p><a href="{{replay.video_link}}">{% translate "Watch externally" %}</a></p>
    </div>
    {% elif replay.video_link %}
    <div class="replay-box avoid-horizontal-join">
        <div class="video-wrapper">
            <span>
                {% blocktranslate %}
                    Failed to embed video, <a href="{{replay.video_link}}">watch replay here</a>
                {% endblocktranslate %}
            </span>
        </div>
    </div>
    {% endif %}

    {% if replay.comment or can_edit %}
    <div class="replay-box avoid-horizontal-join">
        <h3>{% translate "Comment" %}{% if can_edit %} <a href="#" onclick="editReplayComment();">(Edit)</a>{% endif %}</h3>
        <div class="replay-comment">
            <p id="replay-comment">{{ replay.comment }}</p>
            {% if can_edit %}
            <form action="{{ request.path }}/edit" method="post" id="replay-comment-edit">
                {% csrf_token %}
                {{ edit_form.non_field_errors }}
                {{ edit_form.comment.errors }}
                {{ edit_form.comment }}
                <input type="submit" value="Save">
            </form>
            {% endif %}
        </div>
    </div>
    {% endif %}

    <div class="replay-box">
        <h3>{% translate "Details" %}</h3>
        <table>
            <tbody>
                {% if replay.name %}
                <tr>
                    <td>{% translate "In-game name" %}</td>
                    <td>{{ replay.name }}</td>
                </tr>
                {% endif %}
                {% if replay.slowdown is not None %}
                <tr>
                    <td>{% translate "Slowdown" %}</td>
                    <td>{{ replay.slowdown|floatformat:4 }}%</td>
                </tr>
                {% endif %}
                {% if replay.miss_count is not None %}
                <tr>
                    <td>{% translate "Misses" %}</td>
                    <td>{{ replay.miss_count }}</td>
                </tr>
                {% endif %}
                <tr>
                    <td>{% translate "Uploaded on" %}</td>
                    <td>{{ replay.created|date:"d F Y" }}</td>
                </tr>
                {% if spell_name %}
                <tr>
                    <td>{% translate "Spell Card" %}</td>
                    <td>{{ spell_name }}</td>
                </tr>
                {% endif %}
                <tr>
                    <td>{% translate "Clears?" %}</td>
                    <td>
                        {% if replay.is_clear %}
                            {% translate "Yes" %}
                        {% else %}
                            {% translate "No" %}
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    {% if has_stages %}
    <div class="replay-box">
        <h3>{% translate "Stage details" %}</h3>
        {% include "replays/replay_stages.html" %}
    </div>
    {% endif %}
    <div class="replay-box">
        <h3>{% translate "Manage replay" %}</h3>
        {% if can_remove_claim %}
        <div>
            <a href="/replays/{{ game_id }}/{{ replay.id }}/unclaim_replay">{% translate "Unclaim this replay" %}</a>
        </div>
        {% endif %}
        {% if can_edit %}
        {% if is_listed %}
        <div>
            <a href="/replays/{{ game_id }}/{{ replay.id }}/unlist">{% translate "Hide replay on the leaderboards" %}</a>
        </div>
        {% else %}
        <div>
            <a href="/replays/{{ game_id }}/{{ replay.id }}/list">{% translate "Show replay on the leaderboards" %}</a>
        </div>
        {% endif %}
        {% endif %}
        {% if can_delete %}
        <div>
            <a href="/replays/{{ game_id }}/{{ replay.id }}/delete">{% translate "Permanently delete this replay" %}</a>
        </div>
        {% endif %}
        {% if user.is_staff %}
        <div>
            <a href="/replays/{{ game_id }}/{{ replay.id }}/reanalyze">{% translate "Reanalyze this replay" %}</a>
        </div>
        {% endif %}
        <div>
            <a
                href="mailto:reports@silentselene.net?subject={{ site_base }}{{ request.path }}&body=[Please%20leave%20the%20subject%20line%20unchanged.%20Specify%20details%20here]">{% translate "Report" %}</a>
        </div>
    </div>
</div>
{% endblock %}
