{% load humanize %}
{% load i18n %}
<table class="replay-table">
    <thead>
        <tr>
            {% if table_fields.stage %}
            <th>{% translate "Stage" %}</th>
            {% endif %}
            {% if table_fields.score %}
            <th>{% translate "Score" %}</th>
            {% endif %}
            {% if table_fields.piv %}
            <th>{% translate "PIV" %}</th>
            {% endif %}
            {% if table_fields.graze %}
            <th>{% translate "Graze" %}</th>
            {% endif %}
            {% if table_fields.point_items %}
            <th>{% translate "Point Items" %}</th>
            {% endif %}
            {% if table_fields.power %}
            <th>{% translate "Power" %}</th>
            {% endif %}
            {% if table_fields.lives %}
            <th>{% translate "Lives" %}</th>
            {% endif %}
            {% if table_fields.bombs %}
            <th>{% translate "Bombs" %}</th>
            {% endif %}
            {% if table_fields.th128_motivation %}
            <th>{% translate "Motivation" %}</th>
            {% endif %}
            {% if table_fields.th128_perfect_freeze %}
            <th>{% translate "Perfect Freeze" %}</th>
            {% endif %}
            {% if table_fields.th06_rank %}
            <th>{% translate "Rank" %}</th>
            {% endif %}
            {% if table_fields.th07_cherry %}
            <th>{% translate "Cherry" %}</th>
            {% endif %}
            {% if table_fields.th07_cherrymax %}
            <th>{% translate "CherryMax" %}</th>
            {% endif %}
            {% if table_fields.th09_p1_cpu %}
            <th>{% translate "P1 CPU?" %}</th>
            {% endif %}
            {% if table_fields.th09_p2_cpu %}
            <th>{% translate "P2 CPU?" %}</th>
            {% endif %}
            {% if table_fields.th09_p2_shot %}
            <th>{% translate "P2 Shot" %}</th>
            {% endif %}
            {% if table_fields.th09_p2_score %}
            <th>{% translate "P2 Score" %}</th>
            {% endif %}
            {% if table_fields.th13_trance %}
            <th>{% translate "Trance Gauge" %}</th>
            {% endif %}
            {% if table_fields.th16_season_power %}
            <th>{% translate "Season Power" %}</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for stage in replay_stages %}
        <tr class="num-align">
            {% if table_fields.stage %}
            <td>{{stage.stage}}</td>
            {% endif %}
            {% if table_fields.score %}
            <td>{{stage.score|intcomma}}</td>
            {% endif %}
            {% if table_fields.piv %}
            <td>{{stage.piv|intcomma}}</td>
            {% endif %}
            {% if table_fields.graze %}
            <td>{{stage.graze}}</td>
            {% endif %}
            {% if table_fields.point_items %}
            <td>{{stage.point_items}}</td>
            {% endif %}
            {% if table_fields.power %}
            <td>{{stage.power}}</td>
            {% endif %}
            {% if table_fields.lives %}
            <td>{{stage.lives}}</td>
            {% endif %}
            {% if table_fields.bombs %}
            <td>{{stage.bombs}}</td>
            {% endif %}
            {% if table_fields.th128_motivation %}
            <th>{{stage.th128_motivation}}</th>
            {% endif %}
            {% if table_fields.th128_perfect_freeze %}
            <th>{{stage.th128_perfect_freeze}}</th>
            {% endif %}
            {% if table_fields.th06_rank %}
            <td>{{stage.th06_rank}}</td>
            {% endif %}
            {% if table_fields.th07_cherry %}
            <td>{{stage.th07_cherry|intcomma}}</td>
            {% endif %}
            {% if table_fields.th07_cherrymax %}
            <td>{{stage.th07_cherrymax|intcomma}}</td>
            {% endif %}
            {% if table_fields.th09_p1_cpu %}
            <td>{{stage.th09_p1_cpu}}</td>
            {% endif %}
            {% if table_fields.th09_p2_cpu %}
            <td>{{stage.th09_p2_cpu}}</td>
            {% endif %}
            {% if table_fields.th09_p2_shot %}
            <td>{{stage.th09_p2_shotFormat}}</td>
            {% endif %}
            {% if table_fields.th09_p2_score %}
            <td>{{stage.th09_p2_score|intcomma}}</td>
            {% endif %}
            {% if table_fields.th13_trance %}
            <td>{{stage.th13_trance}}</td>
            {% endif %}
            {% if table_fields.th16_season_power %}
            <td>{{stage.th16_season_power}}</td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
