{% extends "base.html" %}
{% load humanize %}

{% block content %}
    <h2>{{ game_name }}</h2>
    <h3>{{ difficulty_name }} -- {{ shot_name }}</h3>
    <div class="replay-box">
        {% translate "Original username" %}: <span>{{ replay.imported_username }}</span>
    </div>
    <div class="replay-box">
        {% translate "Total score" %}: <span class="replay-score">{{ replay.score|intcomma }}</span>
    </div>
    <p>{% translate "Are you sure that this replay does not belong to you?" %}</p>
    <form method="post">
        {% csrf_token %}
        <button name="unclaim">{% translate "Yes" %}</button>
    </form>
{% endblock %}
