{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h1>{% translate "Publish a replay" %}</h1>
<h2>{% translate "Upload a replay file" %}</h2>
<p>
    {% translate "Upload a new replay from one of the following games:" %}
    <ul>
        {% for game in replay_games %}
            <li>{{ game.GetName }}</li>
        {% endfor %}
    </ul>
    {% blocktranslate %}
        This site is still under construction; we hope to support all official
        Touhou games soon.
    {% endblocktranslate %}
</p>

<form method="post" enctype="multipart/form-data" class="inline-form upload-form">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="field-wrapper">
        {{ form.replay_file.errors }}
        <label for="{{form.replay_file.id_for_label}}">{% translate "Choose replay:" %}</label>
        <input
            type="file"
            name="{{form.replay_file.name}}"
            required
            id="{{form.replay_file.id_for_label}}"
            accept=".rpy"
            >
    </div>

    <input type="submit" value={% translate "Upload" %}>
</form>
<h2>{% translate "Publish a replay for a game without replay files" %}</h2>
<ul>
    {% for game in no_replay_games %}
    <li>
        <a href="/replays/publish/{{game.game_id}}">{{ game.GetName }}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
