{% extends "base.html" %}

{% block content %}
<h2>IP Bans</h2>
<table class="replay-table">
<thead><tr>
    <th>IP</th>
    <th>Comment</th>
    <th>Author</th>
    <th>Delete</th>
</tr></thead>
<tbody>
{% for ip_ban in ip_bans %}
<tr>
    <td>{{ ip_ban.ip }}</td>
    <td>{{ ip_ban.comment }}</td>
    <td>{{ ip_ban.author }}</td>
    <td><a href={{ request.path }}{{ ip_ban.id }}/delete>Delete</a></td>
</tr>
{% endfor %}
</tbody>
</table>

<h2>Add IP Ban</h2>
<form method="post" action="{{ request.path }}add">
    {% csrf_token %} 
    {{ add_ip_ban_form.non_field_errors }}
    <table class="form-table">
        <th style="width: 50%;"></th>
        <tr>
        <td>
            <label for="{{ add_ip_ban_form.ip.id_for_label }}">IP Address</label>
            {{ add_ip_ban_form.ip.errors }}
        </td>
        <td>
            {{ add_ip_ban_form.ip }}
        </td>
        </tr>
        <tr>
        <td>
            <label for="{{ add_ip_ban_form.comment.id_for_label }}">Comment</label>
            {{ add_ip_ban_form.comment.errors }}
        </td>
        <td>
            {{ add_ip_ban_form.comment }}
        </td>
        </tr>
    </table>
    <input type="submit" value="Add">
</form>
{% endblock %}