<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Log in</title>
    </head>
    <body>
        <p>Login page!</p>
        <form method="post">
            {% csrf_token %} 
            <fieldset>
                <legend>Log in</legend>
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
                <input type="submit" value="Log in">
            </fieldset>
        </form>
    </body>
</html>