{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>{% translate "My Profile" %}</h2>

<form method="post" class="form-flex">
    {% csrf_token %}

    <table class="form-table">
    <tbody>
        <th style="width: 50%;"></th>
        <tr>
        <td>
            <label for="{{form.username.id_for_label}}">{{form.username.label}}</label>
        </td>
        <td>
            {{ form.username }}
        </td>
        </tr>
        <tr>
        <td>
            <label for="{{form.password.id_for_label}}">{{form.password.label}}</label>
        </td>
        <td>
            {{ form.password }}
        </td>
        </tr>
        <tr>
        <td>
            <label for="{{form.email.id_for_label}}">{{form.email.label}}</label>
        </td>
        <td>
            {{ form.email }}
        </td>
        </tr>
    </tbody>
    </table>
</form>

{% endblock %}
