{% extends "base.html" %}

{% block content %}
<h1>Player Rankings</h1>
<div>
    <button class="button">All</button>
    <button class="button">All Windows</button>
    <button class="button">All PC-98</button>
</div>
<div>
    <button class="button">th01</button>
    <button class="button">th02</button>
    <button class="button">...</button>
</div>

<table class="replay-table">
    <thead>
        <tr>
            <th></th>
            <th>Player</th>
            <th>🥇</th>
            <th>🥈</th>
            <th>🥉</th>
        </tr>
    </thead>
    {% for row in rankings %}
        <tr>
            <td>{{ row.player_rank }}</td>
            <td>
                {% if row.username %}
                    {{ row.username }}
                {% else %}
                    <a href="/replays/user/{{ row.user }}">{{ row.user }}</a>
                {% endif %}
            </td>
            <td>{{ row.first_place_count }}</td>
            <td>{{ row.second_place_count }}</td>
            <td>{{ row.third_place_count }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}
