<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Register</title>
    </head>
    <body>
        <p>Register for an account</p>
        <form method="post">
            {% csrf_token %} 
            {{ form.non_field_errors }}
            <!-- {{ form }} -->
            <div class="field-wrapper">
                {{ form.username.errors }}
                <label for="{{ form.username.id_for_label }}">Username</label>
                {{ form.username }}
            </div>
            <div class="field-wrapper">
                {{ form.email.errors }}
                <label for="{{ form.email.id_for_label }}">Email Address</label>
                {{ form.email }}
            </div>
            <div class="field-wrapper">
                {{ form.password.errors }}
                <label for="{{ form.password.id_for_label }}">Password</label>
                {{ form.password }}
            </div>
            <input type="submit" value="Register">
        </form>
    </body>
</html>