{% extends "simple_centered.html" %}

{% block centered-title %}<p>Register</p>{% endblock %}

{% block centered-content %}
<form method="post">
    {% csrf_token %} 
    {{ form.non_field_errors }}

    <table class="form-table">
        <th style="width: 100%;"></th>
        <tr>
        <td>
            <label for="{{ form.username.id_for_label }}">Username</label>
            {{ form.username.errors }}
        </td>
        <td>
            {{ form.username }}
        </td>
        </tr>
        <tr>
        <td>
            <label for="{{ form.email.id_for_label }}">Email Address</label>
            {{ form.email.errors }}
        </td>
        <td>
            {{ form.email }}
        </td>
        </tr>
        <tr>
            <td>
                {{ form.password.errors }}
                <label for="{{ form.password.id_for_label }}">Password</label>
            </td>
            <td>
                {{ form.password }}
            </td>
        </tr>
        {% if require_passcode %}
        <tr>
        <td>
            {{ form.passcode.errors }}
            <label for="{{ form.passcode.id_for_label }}">Early access passcode</label>
        </td>
        <td>
            {{ form.passcode }}
        </td>
        </tr>
        {% endif %}
    </table>
    <input type="submit" value="Register">
</form>
{% endblock %}
