[Unit]
Description=Create a daily backup of the SilentSelene.net database
Requires=silentselene-backup.service

[Timer]
OnCalendar=daily

[Install]
WantedBy=timers.target