[Unit]
Description=Silent Selene
After=network.target
After=postgresql.service

[Service]
Type=simple
KillSignal=SIGINT
Restart=always
RestartSec=1
User=silentselene
WorkingDirectory=/home/silentselene/silentselene/project/thscoreboard/
ExecStart=uwsgi_python311 /home/silentselene/silentselene/ref/server/uwsgi.ini

[Install]
WantedBy=multi-user.target
