[Unit]
Description=silentselene: Clear out database backups older than a week
Requires=silentselene-delete-backups.service

[Timer]
OnCalendar=weekly

[Install]
WantedBy=timers.target
