{% extends "simple_centered.html" %}

{% block centered-title %}<p>Log in</p>{% endblock %}

{% block centered-content %}

<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    
    <table class="form-table">
        <th style="width: 100%;"></th>
        <tr>
        <td>
            <label for="{{ form.username.id_for_label }}">Username</label>
            {{ form.username.errors }}
        </td>
        <td>
            {{ form.username }}
        </td>
        </tr>
        <tr>
        <td>
            <label for="{{ form.password.id_for_label }}">Password</label>
            {{ form.password.errors }}
        </td>
        <td>
            {{ form.password }}
        </td>
        </tr>
    </table>
    <input type="submit" value="Log in">
</form>

<p>Forgot your password? <a href="{% url 'users:forgot_password' %}">Reset it here</a>.</p>

{% endblock %}
