{% extends "simple_centered.html" %}
{% load i18n %}

{% block centered-title %}<p>{% translate "Log in" %}</p>{% endblock %}

{% block centered-content %}

<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    
    <table class="form-table">
        <th style="width: 100%;"></th>
        <tr>
        <td>
            <label for="{{ form.username.id_for_label }}">{% translate "Username" %}</label>
            {{ form.username.errors }}
        </td>
        <td>
            {{ form.username }}
        </td>
        </tr>
        <tr>
        <td>
            <label for="{{ form.password.id_for_label }}">{% translate "Password" %}</label>
            {{ form.password.errors }}
        </td>
        <td>
            {{ form.password }}
        </td>
        </tr>
    </table>
    <input type="submit" value="{% translate 'Log in' %}">
</form>

<p>{% translate "Forgot your password?" %} <a href="{% url 'users:forgot_password' %}">{% translate "Reset it here" %}</a>.</p>

{% endblock %}
