{% extends "simple_centered.html" %}
{% load i18n %}

{% block centered-title %}<p>{% translate "Change Password" %}</p>{% endblock %}

{% block centered-content %}

<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    
    <table class="form-table">
        <th style="width: 100%;"></th>
        <tr>
        <td>
            <label for="{{ form.old_password.id_for_label }}">{{ form.old_password.label }}</label>
            {{ form.old_password.errors }}
        </td>
        <td>
            {{ form.old_password }}
        </td>
        </tr>
        <tr>
        <td>
            <label for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label }}</label>
            {{ form.new_password1.errors }}
        </td>
        <td>
            {{ form.new_password1 }}
        </td>
        </tr>
        <tr>
        <td>
            <label for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label }}</label>
            {{ form.new_password2.errors }}
        </td>
        <td>
            {{ form.new_password2 }}
        </td>
        </tr>
    </table>
    <input type="submit" value="{% translate "Change Password" %}">
</form>

{% endblock %}
