{% extends "simple_centered.html" %}

{% block centered-title %}<p>Password reset</p>{% endblock %}

{% block centered-content %}

{% if validlink %}

<p>Please enter your new password.</p>

<form method="post">{% csrf_token %}
<fieldset class="module aligned">
    <input type="hidden" autocomplete="username" value="{{ form.user.get_username }}">
    <div class="form-body">
    <div class="form-block">
        {{ form.new_password1.errors }}
        <label for="id_new_password1">New password:</label>
        {{ form.new_password2.errors }}
        <label for="id_new_password2">Confirm password:</label>
    </div>
    <div class="form-block">
        {{ form.new_password1 }}       
        {{ form.new_password2 }}
    </div>
    </div>
    <input type="submit" value="Change my password" style="margin-top: 5px;">
</fieldset>
</form>

{% else %}

<p>This password reset link is invalid, probably because it has already been used. Please request a new link.</p>

{% endif %}

{% endblock %}
