@font-face {
    font-family: 'EB Garamond';
    src: url('EBGaramond/EBGaramond-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('EBGaramond/EBGaramond-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('EBGaramond/EBGaramond-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('EBGaramond/EBGaramond-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('EBGaramond/EBGaramond-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('EBGaramond/EBGaramond-SemiBoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('EBGaramond/EBGaramond-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('EBGaramond/EBGaramond-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('EBGaramond/EBGaramond-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('EBGaramond/EBGaramond-ExtraBoldItalic.woff2') format('woff2');
    font-weight: 800;
    font-style: italic;
}
