@mixin font-body-text
    font: 16px "Lato", "Arial", sans-serif

.flex-1
    flex: 1

#topbar
    background-color: rgb(66, 0, 128)
    min-height: 50px
    display: flex
    align-items: center
    margin: 0 0 5px

#topbar-banner
    display: flex
    justify-content: center
    align-items: center

#topbar-banner > img
    object-fit: contain
    display: block
    border: 1px solid
    border-color: black
    background-color: rgb(87, 53, 118)

#topbar-banner h1
    display: block
    color: white
    font: 600 27px "EB Garamond", "Times New Roman", serif
    margin: auto 10px
    margin-block: 5px 5px

#topbar-link-button > a
    color: white
    margin: 10px 5px
    font: 14px "Lato", "Arial", sans-serif

.topbar-little-spacer
    width: 4px

body
    margin: 0
    padding: 0
    @include font-body-text

.light-background
    background-color: #fff3ff

h2
    font: 400 32px  "EB Garamond", "Times New Roman", serif

h3
    font: 400 26px  "EB Garamond", "Times New Roman", serif


#content
    padding: 8px 12px 8px
    flex: 1

#simple-centered-box

    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    text-align: center

    max-width: 600px
    margin-top: 50px
    margin-left: auto
    margin-right: auto

    #simple-centered-title
        box-sizing: border-box
        font: 400 20px "Lato", "Arial", sans-serif
        background-color: #ffe6ff
        height: 32px
        width: 100%
        padding: 0px

        p
            margin: 0
            padding: 4px
    
    #simple-centered-content
        box-sizing: border-box
        background-color: white
        width: 100%
        padding: 10px 8px

#simple-centered-content form
    text-align: left

table
    table-layout: fixed
    border-collapse: collapse

th, td
    padding: 2px 5px 2px

.score-table
    thead
        background-color: #ffb3ff
    tbody
        tr:nth-child(odd)
            background-color: #fff3ff
        tr:nth-child(even)
            background-color: #ffe6ff
