@import "themes"

@mixin font-body-text
    font: 16px "Lato", "Arial", sans-serif

.flex-1
    flex: 1

#topbar
    background-color: var(--topbar-color)
    min-height: 50px
    display: flex
    align-items: center
    margin: 0 0 5px

#topbar-banner
    display: flex
    justify-content: center
    align-items: center
    text-decoration: none

#topbar-logo
    object-fit: contain
    display: block
    border: 1px solid
    border-color: black
    background-color: var(--topbar-logo-background-color)

#topbar-banner h1
    display: block
    color: white
    font: 600 27px "EB Garamond", "Times New Roman", serif
    margin: auto 10px
    margin-block: 5px 5px
    text-decoration: none

.topbar-link-button :is(a, a:visited, a:hover, a:active)
    color: white
    margin: 10px 5px
    font: 14px "Lato", "Arial", sans-serif

.topbar-little-spacer
    width: 4px

body
    margin: 0
    padding: 0
    @include font-body-text

    background-color: var(--background-color)
    color: var(--text-color)

.light-background
    background-color: var(--backdrop-color)

a
    color: var(--link-color)

    &:visited
        color: var(--visited-link-color)

    &:active
        color: var(--active-link-color)

h1
    font: 500 36px  "EB Garamond", "Times New Roman", serif

h2
    font: 400 32px  "EB Garamond", "Times New Roman", serif

h3
    font: 400 26px  "EB Garamond", "Times New Roman", serif

#content
    padding: 8px 12px 8px
    flex: 1

// Docs pages

.docs-layout
    display: flex
    flex-wrap: wrap
    flex-direction: row

.docs-nav
    font: 600 17px "Lato", "Arial", sans-serif

    padding: 20px 10px 0
    padding-top: 20px
    width: 11em

    ul
        margin: 0
        padding: 0

    li
        padding: 3px 0
        list-style: none

.docs-content
    flex-basis: 20em
    flex-grow: 1
    max-width: 50em


#simple-centered-box

    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    text-align: center

    max-width: 600px
    margin-top: 50px
    margin-left: auto
    margin-right: auto

    #simple-centered-title
        box-sizing: border-box
        font: 400 20px "Lato", "Arial", sans-serif
        height: 32px
        width: 100%
        padding: 0px

        background-color: var(--simple-centered-title-color)

        p
            margin: 0
            padding: 4px

    #simple-centered-content
        box-sizing: border-box
        width: 100%
        padding: 10px 8px

        background-color: var(--simple-centered-content-color)

#simple-centered-content form
    text-align: left

form.inline-form
    box-sizing: border-box
    border: medium solid black
    margin: 2px
    padding: 8px

    .field-wrapper
        margin: 4px 2px
        display: flex
        flex-direction: column

        label
            margin: 4px 0px

        input
            margin: 4px 4px

    input[type=submit]
        height: 2em
        width: 100%

form.upload-form
    width: 350px

table
    table-layout: fixed
    border-collapse: collapse

th, td
    padding: 2px 5px 2px

.form-table-replay

.form-table tbody
    vertical-align: top

.replay-table
    thead
        background-color: var(--table-header-color)
    tbody
        tr:nth-child(odd)
            background-color: var(--table-row-odd-color)
        tr:nth-child(even)
            background-color: var(--table-row-even-color)
    .num-align
        td
            text-align: right

.replay-header
    h3
        font-weight: bold

.replay-comment
    margin: 2em


// SASS does not seem to support :is() as the only selector yet,
// so we list them explicitly.
select
    background-color: var(--background-color)
    color: var(--text-color)

textarea
    background-color: var(--background-color)
    color: var(--text-color)

input[type=text], [type=number], input[type=url]
    background-color: var(--background-color)
    color: var(--text-color)

    &:read-only
        background-color: var(--disabled-input-background-color)
        color: var(--disabled-input-text-color)

.theme-switcher
    text-decoration: none
    margin: 10px 5px

.theme-switcher :is(a, a:visited, a:hover, a:active)
    text-decoration: none
    color: inherit

.checkbox-list
    display: inline-block
    vertical-align: top
    margin-right: 50px
    margin-bottom: 20px
    line-height: 1.15

.checkbox-list label
    display: block
