// This SASS module defines colors for light and dark themes.

.theme-light
    // The standard background color used for most pages.
    --background-color: white
    // The standard text color used for most pages.
    --text-color: black

    // A light color used as a backdrop (that is, as a background element 
    // without any content on it) for pages like simple_centered.
    --backdrop-color: #fff3ff

    --simple-centered-title-color: #ffe6ff
    --simple-centered-content-color: white

    // For most tables, including replay tables, we use alternating colors
    // for the rows.
    --table-header-color: #ffb3ff
    --table-row-odd-color: #fff3ff
    --table-row-even-color: #ffe6ff

.theme-dark
    --background-color: black
    --text-color: white

    --backdrop-color: #0a000a

    --simple-centered-title-color: #1a1a1a
    --simple-centered-content-color: #101010

    --table-header-color: #610061
    --table-row-odd-color: #101010
    --table-row-even-color: #1a1a1a