{% extends "base.html" %}

{% block content %}
    <h2>{{ game_name }}</h2>
    <h3>{{ difficulty_name }} -- {{ shot_name }}</h3>
    <div class="score-box">
        Total score: <span class="score-points">{{ score.points }}</span>
    </div>
    <div>
    {% if replay.is_good %}
        <a href="/scores/{{ game_id }}/{{ score.id }}/download">Download replay</a>
    {% else %}
        <div>Be aware, this replay desyncs!</div>
        <a href="/scores/{{ game_id }}/{{ score.id }}/download">Download replay anyway</a>
    {% endif %}
    </div>
    {% if is_owner %}
        <div>
            <a href="/scores/{{ game_id }}/{{ score.id }}/delete">Permanently delete this replay</a>
        </div>
    {% endif %}
{% endblock %}
