<table>
    <tr>
        <th>
            User
        </th>
        {% if show_game %}
        <th>
            Game
        </th>
        {% endif %}
        <th>
            Difficulty
        </th>
        <th>
            Shot
        </th>
        <th>
            Score
        </th>
        <th>
            Upload date
        </th>
    </tr>
    {% for score in scores %}
        <tr>
            <td>
                <a href="/scores/user/{{score.user.username}}">{{score.user.username}}</a>
            </td>
            {% if show_game %}
            <td>
                <a href="/scores/{{score.shot.game.game_id}}">{{score.shot.game.GetShortName}}</a>
            </td>
            {% endif %}
            <td>
                <a href="/scores/{{score.shot.game.game_id}}/d{{score.difficulty}}">{{score.GetDifficultyName}}</a>
            </td>
            <td>
                <a href="/scores/{{score.shot.game.game_id}}/d{{score.difficulty}}/{{score.shot.shot_id}}">{{score.shot.GetName}}</a>
            </td>
            <td>
                <a href="/scores/{{score.shot.game.game_id}}/{{score.id}}">{{score.points}}</a>
            </td>
            <td>
                {{score.created | date:"Y-m-d"}}
            </td>
        </tr>
    {% endfor %}
</table>
