[flake8]
ignore =
    # Blank line contains whitespace? Who cares?
    W293
    # Starting a line with a boolean operator is now standard in Python.
    W503,
    # We have not decided on a max line length yet.
    E501,
        # Needed for compatibility with black, see https://black.readthedocs.io/en/stable/guides/using_black_with_other_tools.html#flake8
    E203
max-line-length = 88
exclude =
	replays/kaitai_parsers/*
per-file-ignores =
    # settings.py must import dependencies oddly in order to make sure they
    # load in exactly the correct way.
    ./thscoreboard/settings.py: E402
