*.egg-info
*.pot
*.py[co]
.tox/
__pycache__
MANIFEST
.dev_pgpass
.env
compiled_static_css
db.sqlite3
dist/
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage
build/
tests/report/
shared_content/static/style.css
staticfiles
launch.json
package-lock.json
